langchain~=0.0.310
ctransformers==0.2.5
sentence-transformers==2.2.2
streamlit~=1.27.2
streamlit-extras
PyPDF2
faiss-cpu

pip~=21.3.1
attrs~=23.1.0
wheel~=0.37.1
Pillow~=10.0.1
tornado~=6.3.3
Jinja2~=3.1.2
setuptools~=60.2.0
packaging~=23.2
zipp~=3.17.0
tqdm~=4.66.1
google-generativeai
